@charset "UTF-8";
body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    width: 400px;
    margin: auto;
    position: relative;
}

.header {
    background-color: #141f40;
    height: 100px;
    position: relative;
}

.box {
    float: right;
    width: 160px;
    height: 60px;
    box-sizing: border-box;
    border: 10px solid;
    border-color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
}

.p1 {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border-right: 10px solid;
    border-color: white;
}

.p2 {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
    border-right: 10px solid;
    border-color: white;
}

.p3 {
    float: left;
    width: 40px;
    height: 40px;
    background-color: #a9004b;
}

.middle {
    display: flex;
    height: 250px;
}

.p4 {
    background-color: #80bfa8;
    width: 150px;
}

.p5 {
    background-color: #8c2727;
    width: 250px;
    position: relative;
}

.box2 {
    position: absolute;
    width: 150px;
    height: 170px;
    top: 40px;
    left: 40px;
    right: 60px;
    bottom: 40px;
}

.p6 {
    background-color: #ff863f;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    border: 5px solid;
    border-color: white;
    box-sizing: border-box;
}

.p7 {
    background-color: #ff863f;
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    border: 5px solid;
    border-color: white;
    box-sizing: border-box;
}

.p8 {
    background-color: #ff863f;
    width: 150px;
    height: 50px;
    border: 5px solid;
    border-color: white;
    box-sizing: border-box;
}

.footer {
    background-color: #d98d30;
    height: 100px;
}